header {
    display: flex;
    flex-direction: column;
    position: sticky;

    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-main {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    padding: 0 10px;
    box-sizing: border-box;

}

.enterprise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    background-color: rgb(22, 22, 22);

    color: white;

    h1 {
        padding-right: 45%;
    }
}

.enterprise img {
    width: 7vh;
    height: 7vh;
    margin-right: 15px;
}

.enterprise h1 {
    font-size: 1.5rem;
    margin: 0;
}



.navigation {
    background-color: rgb(46, 46, 46);
    width: 100%;
}

.navigation nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    gap: 30px;
}

.navigation nav ul a,
.navigation nav ul a:visited {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.navigation nav ul a:hover {
    text-decoration: underline;
}



.burger-menu {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.burger-menu img {
    width: 28px;
    height: 28px;
    display: block;
}


@media (max-width: 768px) {

    .navigation {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.4s ease-in-out;
    }

    .navigation.active {
        max-height: 50vh;
        padding: 1em 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navigation nav ul {
        flex-direction: column;
        padding: 0;
        gap: 15px;
    }

    .burger-menu {
        display: block;
    }
}

@media (min-width: 769px) {
    .navigation {
        max-height: none !important;
    }
}