main{

    background-image: url(../images/enterprise.jpg);
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: xx-large;

    img{
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}