div {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#registerboss {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container {
    background-color: rgba(40, 40, 40, 0.9);
    border-radius: 10px;
    width: 20vh;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {

    background-image: url(../images/enterprise.jpg);
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;

    img {
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}

.custom-file-upload {

    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    background-color: grey;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    width: 50%;
    margin-top: 10px;

}

.custom-file-upload:hover {
    background-color: rgb(163, 78, 78);
}

input[type="file"] {
    display: none;
}

.form-actions {

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}