<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
		<title>Mon Entreprise</title>
	{% endblock %}
	{% block style %}
		<link rel="stylesheet" href="/assets/css/base.css">
		
	{% endblock %}


</head>
<body>


	<div class="background-image" {% if boss and boss.backgroundImage %} style="background-image: url('{{ boss.backgroundImage|replace({'publics/': '/'}) }}');" {% elseif employee and employee.boss and employee.boss.backgroundImage %} style="background-image: url('{{ employee.boss.backgroundImage|replace({'publics/': '/'}) }}');" {% endif %}></div>
	{% include "/partials/header.twig" %}

	<main>
		{% block main %}{% endblock %}
	</main>

	{% include "/partials/footer.twig" %}


	{% block script %}
		<script>
			const burgerMenu = document.getElementById('burger-menu');
			const navLinks = document.getElementById('navigation-links');
				burgerMenu.addEventListener('click', () => {
				navLinks.classList.toggle('active');
});
		</script>
	{% endblock %}
</body></html>
